body{
    background-color:black;
    color:white;
}

.hero{
    border:1px solid white;
    border-radius:10px;
    width:900px;
    min-height:650px;
    margin:30px auto;
    box-shadow:10px 0px 30px  gray;
}

img{
    width:200px;
    height:200px;
    display:block;
    margin:auto;
    border-radius:50%;
    padding:1rem;
}

h1{
    font-size:25px;
    text-align:center;
    padding:0.7rem;
}

.para{
    color:#8B5CF6;
    text-align:center;
    margin-top:-10px;
}

hr{
    width:200px;
    margin:auto;
    border:none;
    height:2px;
    background:linear-gradient(to right,#333,#8B5CF6,#333);
}

h2{
    text-align:center;
    padding:0.7rem;
}

.para-2{
    text-align:center;
}

.container{
    display:grid;
    grid-template-columns:repeat(3,150px);
    justify-content:center;
    gap:80px;

}
    

.cards{
    text-align:center;
    border:2px solid white;
    border-radius:8px;
    display:grid;
    align-items:center;
    width:200px;
    height:50px;
    transition:all ease 1s;
}

.cards:hover{
    background:linear-gradient(to right,#333,#8B5CF6,#333);
    transform:transalte(-10px);
}


.Hob{
    text-align:center;
    border:1px solid white;
    border-radius:8px;
    display:grid;
    place-items:center;
    width:200px;
    height:50px;
    transition:all ease 1s;
}

.Hob:hover{
     background:linear-gradient(to right,#333,#8B5CF6,#333);
     transform:transalte(-10px);
}


footer{
    text-align:center;
    margin-top:50px;
}
